// Cookies – Plugin «GDPR Cookie Consent»

#cookie-law-info-bar {
    color: $color-text !important;
    background-color: #2b2b2d !important;
    box-shadow: 0 -1px 10px 0 rgba($color-background, 40%) !important;
    z-index: 2147483647;

    & > span {
        display: block;
        box-sizing: border-box;
    }
}

.cli-style-v2 .cli-bar-message {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    a {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }
}

// .cli-style-v2 .cli-bar-btn_container .cli-plugin-button.wt-cli-accept-all-btn {
//     background-color: $color-success !important;

//     &:focus,
//     &:hover {
//         background-color: mix($color-success, #000000, 80) !important;
//     }
// }

.cli-modal-content {
    background-color: #2b2b2d;
}

.cli-privacy-overview {

    h4 {
        color: $color-text;
    }

    .cli-privacy-content-text {
        color: $color-text;
    }

    a,
    a.cli-privacy-readmore {
        color: $color-primary;

        &:focus,
        &:hover {
            color: mix($color-primary, #000000, 85);
            outline: none;
        }
    }

    a.cli-privacy-readmore {
        margin-top: 0;
    }
}

.cli-modal-close {
    

    svg {
        fill: $color-primary;
        cursor: pointer;
    }

    svg:focus,
    svg:hover {
        fill: $color-text;
    }
}









@media (min-width: 360px) {
    .cli-style-v2 .cli-bar-btn_container .cli-plugin-button.wt-cli-accept-all-btn {
        min-width: 122px;
    }
}



@media (min-width: 986px) {.cli-style-v2 .cli-bar-message {
        width: 80%;
    }
}



@media (min-width: 1024px) {
    // Popup Cookies on the left side of the site
    // #cookie-law-info-bar {
    //     bottom: 15px !important;
    //     left: 15px;
    //     max-width: 400px;
    // }

    // .cli-bar-container {
    //     flex-direction: row;
    //     flex-wrap: wrap;
    // }

    // .cli-bar-message,
    // .cli-bar-btn_container {
    //     flex-basis: 100%;
    //     max-width: 100%;
    //     width: 100%;
    // }

    // .cli-bar-message {
    //     margin-bottom: 10px;
    // }

    // .cli-bar-btn_container {
    //     display: block;
    //     margin: 0 auto;

    //     a:first-child {
    //         margin-right: 0 !important;
    //     }

    //     a:nth-child(n + 2) {
    //         margin-left: 15px !important;
    //     }
    // }
    
    #cookie-law-info-bar > span {
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }

    .cli-style-v2 .cli-bar-message {
        width: 80%;
    }
}



@media (min-width: 1330px) {
    #cookie-law-info-bar > span {
        padding-right: 15px;
        padding-left: 15px;
    }
}